// SPDX-License-Identifier: (GPL-2.0 OR BSD-3-Clause)
/*
 * Copyright (c) 2025-2026, Arm Limited. All rights reserved.
 */

/dts-v1/;

/* QVP currently reuses the Apollo FVP-compatible hardware description. */
#include "apollo-qvp.dtsi"

/ {
	model = "Apollo QVP";
	compatible = "arm,apollo-qvp", "arm,zena-css", "arm,vexpress";

	aliases {
		i2c0 = &dw_i2c0;
		i2c1 = &dw_i2c1;
		i2c2 = &dw_i2c2;
		i2c3 = &dw_i2c3;
		i2c4 = &dw_i2c4;
		i2c5 = &dw_i2c5;
		serial0 = &dw_uart0;
		serial1 = &dw_uart1;
		serial2 = &dw_uart2;
		serial3 = &dw_uart3;
		spi0 = &dw_spi0;
		spi1 = &dw_spi1;
		spi2 = &dw_spi2;
		spi3 = &dw_spi3;
	};

	i2s_clk: clock-1536000 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <1536000>;
	};

	i2s0_playback_codec: i2s0-spdif-dit {
		compatible = "linux,spdif-dit";
		#sound-dai-cells = <0>;
	};

	i2s0_capture_codec: i2s0-spdif-dir {
		compatible = "linux,spdif-dir";
		#sound-dai-cells = <0>;
	};

	i2s1_playback_codec: i2s1-spdif-dit {
		compatible = "linux,spdif-dit";
		#sound-dai-cells = <0>;
	};

	i2s1_capture_codec: i2s1-spdif-dir {
		compatible = "linux,spdif-dir";
		#sound-dai-cells = <0>;
	};

	i2s0_sound: i2s0-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "Apollo I2S0";
		#address-cells = <1>;
		#size-cells = <0>;

		simple-audio-card,dai-link@0 {
			reg = <0>;
			format = "i2s";
			bitclock-master = <&i2s0_tx_cpu>;
			frame-master = <&i2s0_tx_cpu>;

			i2s0_tx_cpu: cpu {
				sound-dai = <&dw_i2s0>;
			};

			codec {
				sound-dai = <&i2s0_playback_codec>;
			};
		};

		simple-audio-card,dai-link@1 {
			reg = <1>;
			format = "i2s";
			bitclock-master = <&i2s0_rx_cpu>;
			frame-master = <&i2s0_rx_cpu>;

			i2s0_rx_cpu: cpu {
				sound-dai = <&dw_i2s0>;
			};

			codec {
				sound-dai = <&i2s0_capture_codec>;
			};
		};
	};

	i2s1_sound: i2s1-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "Apollo I2S1";
		#address-cells = <1>;
		#size-cells = <0>;

		simple-audio-card,dai-link@0 {
			reg = <0>;
			format = "i2s";
			bitclock-master = <&i2s1_tx_codec>;
			frame-master = <&i2s1_tx_codec>;

			cpu {
				sound-dai = <&dw_i2s1>;
			};

			i2s1_tx_codec: codec {
				sound-dai = <&i2s1_playback_codec>;
			};
		};

		simple-audio-card,dai-link@1 {
			reg = <1>;
			format = "i2s";
			bitclock-master = <&i2s1_rx_codec>;
			frame-master = <&i2s1_rx_codec>;

			cpu {
				sound-dai = <&dw_i2s1>;
			};

			i2s1_rx_codec: codec {
				sound-dai = <&i2s1_capture_codec>;
			};
		};
	};

	chosen {
		stdout-path = &soc_serial0;
	};

	memory@80000000 {
		device_type = "memory";

		/* ~2GB mapped at 2GB, another 2GB at 2TB */
		reg = <0x00000000 0x80000000 0x00000000 0x7f000000>,
		<0x00000200 0x00000000 0x00000000 0x80000000>;
	};
};

&soc {
	pcie_epc: pcie-epc@30300000 {
		compatible = "qbox,pcie-epc";
		reg = <0x0 0x30300000 0x0 0x1000>,
		      <0x0 0x30400000 0x0 0x400000>;
		reg-names = "ctrl", "mem";
	};

	pcie: pcie@43b50000 {
		compatible = "pci-host-ecam-generic";
		device_type = "pci";
		#address-cells = <3>;
		#size-cells = <2>;
		#interrupt-cells = <1>;
		reg = <0x0 0x43b50000 0x0 0x10000000>;
		bus-range = <0x0 0xff>;
		linux,pci-domain = <0>;
		dma-coherent;

		ranges = <0x01000000 0x0 0x00000000
			  0x0 0x60200000 0x0 0x00100000>,
			 <0x02000000 0x0 0x60300000
			  0x0 0x60300000 0x0 0x1fd00000>,
			 <0x03000000 0x4 0x00000000
			  0x4 0x00000000 0x2 0x00000000>;

		msi-map = <0x0 &its 0x0 0x10000>;
		iommu-map = <0x0 &smmu 0x0 0x10000>;

		interrupt-map-mask = <0xf800 0x0 0x0 0x7>;
		interrupt-map =
			<0x0800 0x0 0x0 0x1 &gic 0x0 0x0
			 GIC_SPI 301 IRQ_TYPE_LEVEL_HIGH>,
			<0x0800 0x0 0x0 0x2 &gic 0x0 0x0
			 GIC_SPI 302 IRQ_TYPE_LEVEL_HIGH>,
			<0x0800 0x0 0x0 0x3 &gic 0x0 0x0
			 GIC_SPI 303 IRQ_TYPE_LEVEL_HIGH>,
			<0x0800 0x0 0x0 0x4 &gic 0x0 0x0
			 GIC_SPI 300 IRQ_TYPE_LEVEL_HIGH>,
			<0x1000 0x0 0x0 0x1 &gic 0x0 0x0
			 GIC_SPI 302 IRQ_TYPE_LEVEL_HIGH>,
			<0x1000 0x0 0x0 0x2 &gic 0x0 0x0
			 GIC_SPI 303 IRQ_TYPE_LEVEL_HIGH>,
			<0x1000 0x0 0x0 0x3 &gic 0x0 0x0
			 GIC_SPI 300 IRQ_TYPE_LEVEL_HIGH>,
			<0x1000 0x0 0x0 0x4 &gic 0x0 0x0
			 GIC_SPI 301 IRQ_TYPE_LEVEL_HIGH>,
			<0x1800 0x0 0x0 0x1 &gic 0x0 0x0
			 GIC_SPI 303 IRQ_TYPE_LEVEL_HIGH>,
			<0x1800 0x0 0x0 0x2 &gic 0x0 0x0
			 GIC_SPI 300 IRQ_TYPE_LEVEL_HIGH>,
			<0x1800 0x0 0x0 0x3 &gic 0x0 0x0
			 GIC_SPI 301 IRQ_TYPE_LEVEL_HIGH>,
			<0x1800 0x0 0x0 0x4 &gic 0x0 0x0
			 GIC_SPI 302 IRQ_TYPE_LEVEL_HIGH>,
			<0x2000 0x0 0x0 0x1 &gic 0x0 0x0
			 GIC_SPI 300 IRQ_TYPE_LEVEL_HIGH>,
			<0x2000 0x0 0x0 0x2 &gic 0x0 0x0
			 GIC_SPI 301 IRQ_TYPE_LEVEL_HIGH>,
			<0x2000 0x0 0x0 0x3 &gic 0x0 0x0
			 GIC_SPI 302 IRQ_TYPE_LEVEL_HIGH>,
			<0x2000 0x0 0x0 0x4 &gic 0x0 0x0
			 GIC_SPI 303 IRQ_TYPE_LEVEL_HIGH>,
			<0x2800 0x0 0x0 0x1 &gic 0x0 0x0
			 GIC_SPI 301 IRQ_TYPE_LEVEL_HIGH>,
			<0x2800 0x0 0x0 0x2 &gic 0x0 0x0
			 GIC_SPI 302 IRQ_TYPE_LEVEL_HIGH>,
			<0x2800 0x0 0x0 0x3 &gic 0x0 0x0
			 GIC_SPI 303 IRQ_TYPE_LEVEL_HIGH>,
			<0x2800 0x0 0x0 0x4 &gic 0x0 0x0
			 GIC_SPI 300 IRQ_TYPE_LEVEL_HIGH>;
	};

	smmu: iommu@1c0000000 {
		compatible = "arm,smmu-v3";
		reg = <0x1 0xc0000000 0x0 0x8000000>;
		dma-coherent;
		#iommu-cells = <1>;
		interrupts = <GIC_SPI 65 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "combined";
		msi-parent = <&its 0x10000>;
	};

	virtio@30020000 {
		compatible = "virtio,mmio";
		reg = <0x0 0x30020000 0x0 0x10000>;
		interrupts = <GIC_SPI 257 IRQ_TYPE_LEVEL_HIGH>;
	};

	virtio@30030000 {
		compatible = "virtio,mmio";
		reg = <0x0 0x30030000 0x0 0x10000>;
		interrupts = <GIC_SPI 258 IRQ_TYPE_LEVEL_HIGH>;
	};

	virtio@30040000 {
		compatible = "virtio,mmio";
		reg = <0x0 0x30040000 0x0 0x10000>;
		interrupts = <GIC_SPI 259 IRQ_TYPE_LEVEL_HIGH>;
	};

	virtio@30050000 {
		compatible = "virtio,mmio";
		reg = <0x0 0x30050000 0x0 0x10000>;
		interrupts = <GIC_SPI 260 IRQ_TYPE_LEVEL_HIGH>;
	};

	virtio@30060000 {
		compatible = "virtio,mmio";
		reg = <0x0 0x30060000 0x0 0x10000>;
		interrupts = <GIC_SPI 261 IRQ_TYPE_LEVEL_HIGH>;
	};

	virtio@30080000 {
		compatible = "virtio,mmio";
		reg = <0x0 0x30080000 0x0 0x10000>;
		interrupts = <GIC_SPI 263 IRQ_TYPE_LEVEL_HIGH>;
	};

	dma350_0: dma-controller@31000000 {
		compatible = "arm,dma-350";
		reg = <0x0 0x31000000 0x0 0x10000>;
		interrupts = <GIC_SPI 279 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 279 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 279 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 279 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 279 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 279 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 279 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 279 IRQ_TYPE_LEVEL_HIGH>;
		#dma-cells = <1>;
	};

	dma350_1: dma-controller@31010000 {
		compatible = "arm,dma-350";
		reg = <0x0 0x31010000 0x0 0x10000>;
		interrupts = <GIC_SPI 358 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 358 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 358 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 358 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 358 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 358 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 358 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 358 IRQ_TYPE_LEVEL_HIGH>;
		#dma-cells = <1>;
	};

	dw_i2c0: i2c@30100000 {
		compatible = "snps,designware-i2c";
		reg = <0x0 0x30100000 0x0 0x10000>;
		interrupts = <GIC_SPI 320 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&soc_clk24mhz>, <&soc_clk24mhz>;
		clock-names = "ref", "pclk";
		clock-frequency = <400000>;
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c0_pins>;

		eeprom@50 {
			compatible = "atmel,24c02";
			reg = <0x50>;
			pagesize = <8>;
		};
	};

	dw_i2c1: i2c@30110000 {
		compatible = "snps,designware-i2c";
		reg = <0x0 0x30110000 0x0 0x10000>;
		interrupts = <GIC_SPI 321 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&soc_clk24mhz>, <&soc_clk24mhz>;
		clock-names = "ref", "pclk";
		clock-frequency = <400000>;
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c1_pins>;

		eeprom@50 {
			compatible = "atmel,24c02";
			reg = <0x50>;
			pagesize = <8>;
		};
	};

	dw_i2c2: i2c@30120000 {
		compatible = "snps,designware-i2c";
		reg = <0x0 0x30120000 0x0 0x10000>;
		interrupts = <GIC_SPI 322 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&soc_clk24mhz>, <&soc_clk24mhz>;
		clock-names = "ref", "pclk";
		clock-frequency = <400000>;
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c2_pins>;

		eeprom@50 {
			compatible = "atmel,24c02";
			reg = <0x50>;
			pagesize = <8>;
		};
	};

	dw_i2c3: i2c@30130000 {
		compatible = "snps,designware-i2c";
		reg = <0x0 0x30130000 0x0 0x10000>;
		interrupts = <GIC_SPI 323 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&soc_clk24mhz>, <&soc_clk24mhz>;
		clock-names = "ref", "pclk";
		clock-frequency = <400000>;
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c3_pins>;

		eeprom@50 {
			compatible = "atmel,24c02";
			reg = <0x50>;
			pagesize = <8>;
		};
	};

	dw_i2c4: i2c@30140000 {
		compatible = "snps,designware-i2c";
		reg = <0x0 0x30140000 0x0 0x10000>;
		interrupts = <GIC_SPI 324 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&soc_clk24mhz>, <&soc_clk24mhz>;
		clock-names = "ref", "pclk";
		clock-frequency = <400000>;
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c4_pins>;

		eeprom@50 {
			compatible = "atmel,24c02";
			reg = <0x50>;
			pagesize = <8>;
		};
	};

	dw_i2c5: i2c@30150000 {
		compatible = "snps,designware-i2c";
		reg = <0x0 0x30150000 0x0 0x10000>;
		interrupts = <GIC_SPI 325 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&soc_clk24mhz>, <&soc_clk24mhz>;
		clock-names = "ref", "pclk";
		clock-frequency = <400000>;
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c5_pins>;

		eeprom@50 {
			compatible = "atmel,24c02";
			reg = <0x50>;
			pagesize = <8>;
		};
	};

	dw_spi0: spi@30160000 {
		compatible = "snps,dw-apb-ssi";
		reg = <0x0 0x30160000 0x0 0x10000>;
		interrupts = <GIC_SPI 326 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&soc_clk24mhz>, <&soc_clk24mhz>;
		clock-names = "ssi_clk", "pclk";
		num-cs = <1>;
		reg-io-width = <4>;
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi0_pins>;
		dmas = <&dma350_0 0>, <&dma350_0 1>;
		dma-names = "tx", "rx";

		loopback@0 {
			compatible = "linux,spi-loopback-test";
			reg = <0>;
			spi-max-frequency = <1000000>;
		};
	};

	dw_spi1: spi@30170000 {
		compatible = "snps,dw-apb-ssi";
		reg = <0x0 0x30170000 0x0 0x10000>;
		interrupts = <GIC_SPI 327 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&soc_clk24mhz>, <&soc_clk24mhz>;
		clock-names = "ssi_clk", "pclk";
		num-cs = <1>;
		reg-io-width = <4>;
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi1_pins>;
		dmas = <&dma350_0 2>, <&dma350_0 3>;
		dma-names = "tx", "rx";

		loopback@0 {
			compatible = "linux,spi-loopback-test";
			reg = <0>;
			spi-max-frequency = <1000000>;
		};
	};

	dw_spi2: spi@30180000 {
		compatible = "snps,dw-apb-ssi";
		reg = <0x0 0x30180000 0x0 0x10000>;
		interrupts = <GIC_SPI 328 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&soc_clk24mhz>, <&soc_clk24mhz>;
		clock-names = "ssi_clk", "pclk";
		num-cs = <1>;
		reg-io-width = <4>;
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi2_pins>;

		loopback@0 {
			compatible = "linux,spi-loopback-test";
			reg = <0>;
			spi-max-frequency = <1000000>;
		};
	};

	dw_spi3: spi@30190000 {
		compatible = "snps,dw-apb-ssi";
		reg = <0x0 0x30190000 0x0 0x10000>;
		interrupts = <GIC_SPI 329 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&soc_clk24mhz>, <&soc_clk24mhz>;
		clock-names = "ssi_clk", "pclk";
		num-cs = <1>;
		reg-io-width = <4>;
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi3_pins>;

		loopback@0 {
			compatible = "linux,spi-loopback-test";
			reg = <0>;
			spi-max-frequency = <1000000>;
		};
	};

	dw_uart0: serial@301a0000 {
		compatible = "snps,dw-apb-uart";
		reg = <0x0 0x301a0000 0x0 0x10000>;
		interrupts = <GIC_SPI 330 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&soc_clk24mhz>, <&soc_clk24mhz>;
		clock-names = "baudclk", "apb_pclk";
		reg-shift = <2>;
		reg-io-width = <4>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart0_pins>;
		dmas = <&dma350_0 4>, <&dma350_0 5>;
		dma-names = "tx", "rx";
	};

	dw_uart1: serial@301b0000 {
		compatible = "snps,dw-apb-uart";
		reg = <0x0 0x301b0000 0x0 0x10000>;
		interrupts = <GIC_SPI 331 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&soc_clk24mhz>, <&soc_clk24mhz>;
		clock-names = "baudclk", "apb_pclk";
		reg-shift = <2>;
		reg-io-width = <4>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart1_pins>;
		dmas = <&dma350_0 6>, <&dma350_0 7>;
		dma-names = "tx", "rx";
	};

	dw_uart2: serial@301c0000 {
		compatible = "snps,dw-apb-uart";
		reg = <0x0 0x301c0000 0x0 0x10000>;
		interrupts = <GIC_SPI 332 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&soc_clk24mhz>, <&soc_clk24mhz>;
		clock-names = "baudclk", "apb_pclk";
		reg-shift = <2>;
		reg-io-width = <4>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart2_pins>;
	};

	dw_uart3: serial@301d0000 {
		compatible = "snps,dw-apb-uart";
		reg = <0x0 0x301d0000 0x0 0x10000>;
		interrupts = <GIC_SPI 333 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&soc_clk24mhz>, <&soc_clk24mhz>;
		clock-names = "baudclk", "apb_pclk";
		reg-shift = <2>;
		reg-io-width = <4>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart3_pins>;
	};

	dw_i2s0: i2s@30200000 {
		compatible = "snps,designware-i2s";
		reg = <0x0 0x30200000 0x0 0x10000>;
		interrupts = <GIC_SPI 356 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&i2s_clk>;
		clock-names = "i2sclk";
		#sound-dai-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2s0_pins>;
		dmas = <&dma350_1 0>, <&dma350_1 1>;
		dma-names = "tx", "rx";
	};

	dw_i2s1: i2s@30210000 {
		compatible = "snps,designware-i2s";
		reg = <0x0 0x30210000 0x0 0x10000>;
		interrupts = <GIC_SPI 357 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&i2s_clk>;
		clock-names = "i2sclk";
		#sound-dai-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2s1_pins>;
		dmas = <&dma350_1 2>, <&dma350_1 3>;
		dma-names = "tx", "rx";
	};

	pinctrl_peri0: gpio@301e0000 {
		compatible = "hsoc,peri0-gpio";
		reg = <0x0 0x301e0000 0x0 0x10000>;
		interrupts = <GIC_SPI 334 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 335 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 336 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 337 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 338 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 339 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 340 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 341 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 342 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 343 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 344 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 345 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 346 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 347 IRQ_TYPE_LEVEL_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	pinctrl_peri1: gpio@301f0000 {
		compatible = "hsoc,peri1-gpio";
		reg = <0x0 0x301f0000 0x0 0x10000>;
		interrupts = <GIC_SPI 348 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 349 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 350 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 351 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 352 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 353 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 354 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 355 IRQ_TYPE_LEVEL_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;
	};
};

&si_cl1 {
	status = "okay";
};

&si_remoteproc {
	status = "okay";
};

&si_cl1_rproc_rsctbl {
	status = "okay";
};

&si_cl1_vdev0vring0 {
	status = "okay";
};

&si_cl1_vdev0vring1 {
	status = "okay";
};

&si_cl1_vdev0buffer {
	status = "okay";
};

&si_cl1_mbox_rproc_tx {
	status = "okay";
};

&si_cl1_mbox_rproc_rx {
	status = "okay";
};

#include "pinctrl.dtsi"
#include "apollo-qvp-board.dtsi"
