// SPDX-License-Identifier: (GPL-2.0 OR BSD-3-Clause)
/*
 * Copyright (c) 2025-2026, Arm Limited. All rights reserved.
 */

/* QBox virtual transports and the existing SPI/audio test profile. */
#include "apollo.dtsi"

/ {
	i2s_clk: clock-1536000 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <1536000>;
	};

	i2s0_playback_codec: i2s0-spdif-dit {
		compatible = "linux,spdif-dit";
		#sound-dai-cells = <0>;
	};

	i2s0_capture_codec: i2s0-spdif-dir {
		compatible = "linux,spdif-dir";
		#sound-dai-cells = <0>;
	};

	i2s1_playback_codec: i2s1-spdif-dit {
		compatible = "linux,spdif-dit";
		#sound-dai-cells = <0>;
	};

	i2s1_capture_codec: i2s1-spdif-dir {
		compatible = "linux,spdif-dir";
		#sound-dai-cells = <0>;
	};

	i2s0_sound: i2s0-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "Apollo I2S0";
		#address-cells = <1>;
		#size-cells = <0>;
		status = "disabled";

		simple-audio-card,dai-link@0 {
			reg = <0>;
			format = "i2s";
			bitclock-master = <&i2s0_tx_cpu>;
			frame-master = <&i2s0_tx_cpu>;

			i2s0_tx_cpu: cpu {
				sound-dai = <&dw_i2s0>;
			};

			codec {
				sound-dai = <&i2s0_playback_codec>;
			};
		};

		simple-audio-card,dai-link@1 {
			reg = <1>;
			format = "i2s";
			bitclock-master = <&i2s0_rx_cpu>;
			frame-master = <&i2s0_rx_cpu>;

			i2s0_rx_cpu: cpu {
				sound-dai = <&dw_i2s0>;
			};

			codec {
				sound-dai = <&i2s0_capture_codec>;
			};
		};
	};

	i2s1_sound: i2s1-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "Apollo I2S1";
		#address-cells = <1>;
		#size-cells = <0>;
		status = "disabled";

		simple-audio-card,dai-link@0 {
			reg = <0>;
			format = "i2s";
			bitclock-master = <&i2s1_tx_codec>;
			frame-master = <&i2s1_tx_codec>;

			cpu {
				sound-dai = <&dw_i2s1>;
			};

			i2s1_tx_codec: codec {
				sound-dai = <&i2s1_playback_codec>;
			};
		};

		simple-audio-card,dai-link@1 {
			reg = <1>;
			format = "i2s";
			bitclock-master = <&i2s1_rx_codec>;
			frame-master = <&i2s1_rx_codec>;

			cpu {
				sound-dai = <&dw_i2s1>;
			};

			i2s1_rx_codec: codec {
				sound-dai = <&i2s1_capture_codec>;
			};
		};
	};

	cpus {
		/*
		 * The latency and residency numbers below are for illustrative
		 * purposes only and may vary on actual silicon. These values are
		 * considered just to demonstrate that the cpuidle governor logic
		 * works.
		 */
		idle-states {
			entry-method = "psci";

			cpu_sleep: cpu-sleep {
				compatible = "arm,idle-state";
				arm,psci-suspend-param = <0x10000>;
				entry-latency-us = <800>;
				exit-latency-us = <3200>;
				local-timer-stop;
				min-residency-us = <4200>;
			};

			cluster_sleep: cluster-sleep {
				compatible = "arm,idle-state";
				arm,psci-suspend-param = <0x1010000>;
				entry-latency-us = <1000>;
				exit-latency-us = <3200>;
				local-timer-stop;
				min-residency-us = <4500>;
			};
		};
	};
};

&soc {
	pcie_epc: pcie-epc@30300000 {
		compatible = "qbox,pcie-epc";
		reg = <0x0 0x30300000 0x0 0x1000>,
		      <0x0 0x30400000 0x0 0x400000>;
		reg-names = "ctrl", "mem";
		status = "disabled";
	};

	pcie: pcie@43b50000 {
		compatible = "pci-host-ecam-generic";
		device_type = "pci";
		#address-cells = <3>;
		#size-cells = <2>;
		#interrupt-cells = <1>;
		reg = <0x0 0x43b50000 0x0 0x10000000>;
		bus-range = <0x0 0xff>;
		linux,pci-domain = <0>;
		dma-coherent;

		ranges = <0x01000000 0x0 0x00000000
			  0x0 0x60200000 0x0 0x00100000>,
			 <0x02000000 0x0 0x60300000
			  0x0 0x60300000 0x0 0x1fd00000>,
			 <0x03000000 0x4 0x00000000
			  0x4 0x00000000 0x2 0x00000000>;

		msi-map = <0x0 &its 0x0 0x10000>;
		iommu-map = <0x0 &smmu 0x0 0x10000>;

		interrupt-map-mask = <0xf800 0x0 0x0 0x7>;
		interrupt-map =
			<0x0800 0x0 0x0 0x1 &gic 0x0 0x0
			 GIC_SPI 301 IRQ_TYPE_LEVEL_HIGH>,
			<0x0800 0x0 0x0 0x2 &gic 0x0 0x0
			 GIC_SPI 302 IRQ_TYPE_LEVEL_HIGH>,
			<0x0800 0x0 0x0 0x3 &gic 0x0 0x0
			 GIC_SPI 303 IRQ_TYPE_LEVEL_HIGH>,
			<0x0800 0x0 0x0 0x4 &gic 0x0 0x0
			 GIC_SPI 300 IRQ_TYPE_LEVEL_HIGH>,
			<0x1000 0x0 0x0 0x1 &gic 0x0 0x0
			 GIC_SPI 302 IRQ_TYPE_LEVEL_HIGH>,
			<0x1000 0x0 0x0 0x2 &gic 0x0 0x0
			 GIC_SPI 303 IRQ_TYPE_LEVEL_HIGH>,
			<0x1000 0x0 0x0 0x3 &gic 0x0 0x0
			 GIC_SPI 300 IRQ_TYPE_LEVEL_HIGH>,
			<0x1000 0x0 0x0 0x4 &gic 0x0 0x0
			 GIC_SPI 301 IRQ_TYPE_LEVEL_HIGH>,
			<0x1800 0x0 0x0 0x1 &gic 0x0 0x0
			 GIC_SPI 303 IRQ_TYPE_LEVEL_HIGH>,
			<0x1800 0x0 0x0 0x2 &gic 0x0 0x0
			 GIC_SPI 300 IRQ_TYPE_LEVEL_HIGH>,
			<0x1800 0x0 0x0 0x3 &gic 0x0 0x0
			 GIC_SPI 301 IRQ_TYPE_LEVEL_HIGH>,
			<0x1800 0x0 0x0 0x4 &gic 0x0 0x0
			 GIC_SPI 302 IRQ_TYPE_LEVEL_HIGH>,
			<0x2000 0x0 0x0 0x1 &gic 0x0 0x0
			 GIC_SPI 300 IRQ_TYPE_LEVEL_HIGH>,
			<0x2000 0x0 0x0 0x2 &gic 0x0 0x0
			 GIC_SPI 301 IRQ_TYPE_LEVEL_HIGH>,
			<0x2000 0x0 0x0 0x3 &gic 0x0 0x0
			 GIC_SPI 302 IRQ_TYPE_LEVEL_HIGH>,
			<0x2000 0x0 0x0 0x4 &gic 0x0 0x0
			 GIC_SPI 303 IRQ_TYPE_LEVEL_HIGH>,
			<0x2800 0x0 0x0 0x1 &gic 0x0 0x0
			 GIC_SPI 301 IRQ_TYPE_LEVEL_HIGH>,
			<0x2800 0x0 0x0 0x2 &gic 0x0 0x0
			 GIC_SPI 302 IRQ_TYPE_LEVEL_HIGH>,
			<0x2800 0x0 0x0 0x3 &gic 0x0 0x0
			 GIC_SPI 303 IRQ_TYPE_LEVEL_HIGH>,
			<0x2800 0x0 0x0 0x4 &gic 0x0 0x0
			 GIC_SPI 300 IRQ_TYPE_LEVEL_HIGH>;
		status = "disabled";
	};

	virtio@30020000 {
		compatible = "virtio,mmio";
		reg = <0x0 0x30020000 0x0 0x10000>;
		interrupts = <GIC_SPI 257 IRQ_TYPE_LEVEL_HIGH>;
	};

	virtio@30030000 {
		compatible = "virtio,mmio";
		reg = <0x0 0x30030000 0x0 0x10000>;
		interrupts = <GIC_SPI 258 IRQ_TYPE_LEVEL_HIGH>;
	};

	virtio@30040000 {
		compatible = "virtio,mmio";
		reg = <0x0 0x30040000 0x0 0x10000>;
		interrupts = <GIC_SPI 259 IRQ_TYPE_LEVEL_HIGH>;
	};

	virtio@30050000 {
		compatible = "virtio,mmio";
		reg = <0x0 0x30050000 0x0 0x10000>;
		interrupts = <GIC_SPI 260 IRQ_TYPE_LEVEL_HIGH>;
	};

	virtio@30060000 {
		compatible = "virtio,mmio";
		reg = <0x0 0x30060000 0x0 0x10000>;
		interrupts = <GIC_SPI 261 IRQ_TYPE_LEVEL_HIGH>;
	};

	virtio@30080000 {
		compatible = "virtio,mmio";
		reg = <0x0 0x30080000 0x0 0x10000>;
		interrupts = <GIC_SPI 263 IRQ_TYPE_LEVEL_HIGH>;
	};
};

&dw_spi0 {

	loopback@0 {
		compatible = "linux,spi-loopback-test";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&dw_spi1 {

	loopback@0 {
		compatible = "linux,spi-loopback-test";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&dw_spi2 {

	loopback@0 {
		compatible = "linux,spi-loopback-test";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&dw_spi3 {

	loopback@0 {
		compatible = "linux,spi-loopback-test";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&dw_i2s0 {
	clocks = <&i2s_clk>;
	clock-names = "i2sclk";
};

&dw_i2s1 {
	clocks = <&i2s_clk>;
	clock-names = "i2sclk";
};

&cpu0 {
	cpu-idle-states = <&cpu_sleep &cluster_sleep>;
};

&cpu1 {
	cpu-idle-states = <&cpu_sleep &cluster_sleep>;
};

&cpu2 {
	cpu-idle-states = <&cpu_sleep &cluster_sleep>;
};

&cpu3 {
	cpu-idle-states = <&cpu_sleep &cluster_sleep>;
};

&cpu4 {
	cpu-idle-states = <&cpu_sleep &cluster_sleep>;
};

&cpu5 {
	cpu-idle-states = <&cpu_sleep &cluster_sleep>;
};

&cpu6 {
	cpu-idle-states = <&cpu_sleep &cluster_sleep>;
};

&cpu7 {
	cpu-idle-states = <&cpu_sleep &cluster_sleep>;
};

&cpu8 {
	cpu-idle-states = <&cpu_sleep &cluster_sleep>;
};

&cpu9 {
	cpu-idle-states = <&cpu_sleep &cluster_sleep>;
};

&cpu10 {
	cpu-idle-states = <&cpu_sleep &cluster_sleep>;
};

&cpu11 {
	cpu-idle-states = <&cpu_sleep &cluster_sleep>;
};

&cpu12 {
	cpu-idle-states = <&cpu_sleep &cluster_sleep>;
};

&cpu13 {
	cpu-idle-states = <&cpu_sleep &cluster_sleep>;
};

&cpu14 {
	cpu-idle-states = <&cpu_sleep &cluster_sleep>;
};

&cpu15 {
	cpu-idle-states = <&cpu_sleep &cluster_sleep>;
};
