# SPDX-License-Identifier: GPL-2.0-only

config SOC_APOLLO
	bool "Apollo SoC support"
	depends on ARM64 || COMPILE_TEST
	help
	  Enable support for the Apollo SoC models used by the apollo-qbox
	  virtual platform.
